button {     
    background-color: rgb(118, 117, 117); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    width: 250px;
    cursor: pointer;
}

#experimentOutput {
    margin-top: 40px;
}

.tests-package-container {
    font-weight: bold;
}

.correct-response {
    margin-left: 20px;
}

.wrong-response {
    margin-left: 20px;
    color: red;
}

.tests-separator {
    font-weight: bold;
    color: royalblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.result-of-tests {
    margin-top: 30px;
    color: rgb(32, 166, 55);
}