button {     
    background-color: rgb(118, 117, 117); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    width: 250px;
    cursor: pointer;
}

#experimentOutput {
    margin-top: 40px;
}